.bg {
  background-image: url("../../assets/login11.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.pic {
  height: 100px;
  width: 200px;
}
.pic2 {
  height: 150px;
  width: 200px;
}

.carsRow {
  margin-top: 80px;
  background-color: white;
}

.carsContainer {
  height: 200px;
}

.carsCategories {
  color: darkblue;
  margin-top: 10px;
  cursor: pointer;
}

.carsCategories:hover {
  color: rgb(100, 0, 92);
}
.frbk-head {
  color: white;
  margin-top: 12px;
}
.inpt-col {
  margin-top: 19px;
  display: flex;
}
.date-input {
  width: 360px;
  height: 40px;
}
.radio-col {
  background-color: white;
}
.radio-inpt {
  height: 15px;
  width: 19px;
  margin-top: 12px;
}
.bkn-btn {
  margin-top: 12px;
  background-color: rgb(34, 32, 32);
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: solid none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  /* margin-bottom: 1rem; */
}
.line {
  height: 17px;
  background-color: darkblue;
  margin-top: 99px;
}
.last-header-text {
  text-decoration: none;
  color: darkblue;
  font-size: 12px;
}
.icons-fac {
  display: flex;
  justify-content: space-evenly;
}
.d-block {
  font-size: 14px;
  margin-top: 10px 0;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* @media only screen and (max-width: 470px) */