.main-div {
  /* background-image: url(../../assets/bg-image.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 658px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  width: 600px;
  height: 400px;
}

.heading-text {
  font-family: "Montserrat", Arial, sans-serif;
  margin-top: 2rem;
  color:darkblue;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* text-align: center; */
}

.app-form-control {
  width: 100%;
  padding: 5px 1;
  background: none;
  border: none;
  border-bottom: 1px solid darkblue;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  margin-top: 2rem;
}

.app-form-control::placeholder {
  color: darkblue;
}

.app-form-control:focus {
  border-bottom-color: darkblue;
}
